<div class="widgets">

  <div class="row">
    <div class="col-md-12"
         ba-panel
         ba-panel-title="Modals"
         ba-panel-class="with-scroll">
      <div class="modal-buttons clearfix">
        <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/basicModal.html', 'md')">默认模块</button>
        <button type="button" class="btn btn-success" data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/largeModal.html', 'lg')">
          大模块
        </button>
        <button type="button" class="btn btn-warning" data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/smallModal.html', 'sm')">
          小模块
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6"
         ba-panel
         ba-panel-title="Message Modals"
         ba-panel-class="with-scroll">
      <div class="modal-buttons same-width clearfix">
        <button type="button" class="btn btn-success" data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/successModal.html')">
          成功通知
        </button>
        <button type="button" class="btn btn-info" data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/infoModal.html')">信息通知</button>
        <button type="button" class="btn btn-warning" data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/warningModal.html')">
          警告通知
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal" ng-click="open('app/pages/ui/modals/modalTemplates/dangerModal.html')">
          危险通知
        </button>
      </div>
    </div>
    <div class="col-md-6"
         ba-panel
         ba-panel-title="通知"
         ba-panel-class="with-scroll">
      <div ng-include="'app/pages/ui/modals/notifications/notifications.html'"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"
         ba-panel
         ba-panel-title="进度条"
         ba-panel-class="with-scroll">
      <div class="modal-buttons same-width clearfix">
        <button type="button" class="btn btn-info" data-toggle="modal" ng-click="openProgressDialog()">
          Progress dialog
        </button>
      </div>
    </div>
  </div>

</div>
